<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Burger Devourer</title>
	<!--jQuery-->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Materialize CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- Additional CSS -->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	<!-- Javascript handlers for update and create on button click -->
	<script src="/assets/js/burgers.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>